<%= form_with(model: comment, local: true) do |form| %>
    <% if comment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

          <ul>
            <% comment.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row col-md-4">
      <div class="form-group row">
        <%= form.label :user_name %>
        <%= form.text_field :user_name, id: :comment_user_name, :class => 'form-control' %>
      </div>

      <div class="form-group row">
        <%= form.label :body %>
        <%= form.text_area :body, id: :comment_body, :class => 'form-control' %>
      </div>

      <%= form.hidden_field :idea_id %>

      <button class="btn btn-primary">Add comment!</button>
    </div>
<% end %>
